.container{
  padding: 30px;
  width: 100%;
  min-height: 100%;
  margin: 0 auto; //выравнивание по центру
  border: 1px solid red;
  background-color: rgb(26, 33, 42);
  color: white;
  font-family:'AvertaStd';
}
.eventDetails{

}
.soccerTitle{
  font-size: 2rem;
  margin-bottom: 1.2rem;
}
.date{
  font-size: 1.6rem;
}
.radioGroup{
  font-size: 1.4rem;
  margin-top: 1.2rem;
}

button{

}
button[disabled]{
  opacity: 0.6;
  cursor: not-allowed;
  color: #E1E0E0;
}
.btn{
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  font-size: 1.4rem;
  display: inline-flex;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  padding: 0.8rem 1.6rem;
  margin-top: 1.2rem;
  color: rgba(0, 0, 0, 0.85);
}